# Node.js
node_modules/
.env
dist/
build/
tmp/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Coverage
coverage/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# IDEs and editors
.idea/
*.sublime-project
*.sublime-workspace

# Runtime data
pids/
*.pid*
